<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/homeC.js"></script>
</head>
<body>
<%-include('navbar')%>
<div style="background:black; height:700px;" class="container-fluid">
    <div class="container" style="background:silver; height: 700px;">
        <input id="name" style="margin-top:100px;"type="text" placeholder="Name"><br>
        <input id="id" type="text" placeholder="ID"><br>
        <button class="btn btn-success">SUBMIT</button>
    </div>
</div>
</body>
</html>